.character_showcase, .character_creation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.character_view {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.symbol {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 35%;
}

.equip {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 80%;
}

.boss {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 60%;
}

.symbol ul, .symbol li, .equip ul, .equil li, .boss ul, .boss li {
    list-style: none;
    padding: 0;
    margin-bottom: 1%;
}

.symbol ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: solid #f99e1a 1px;
    margin: auto auto 2%;
    width: 200px;
}

.character_showcase ul, .character_showcase li {
    list-style: none;
    padding: 0;
}

.character_showcase ul {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 150px;
    border: solid #f99e1a 1px;
}

.equip ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: solid #f99e1a 1px;
    margin: auto auto 2%;
    width: 200px;
    height: 100%;
}

.boss ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: solid #f99e1a 1px;
    margin: auto auto 2%;
    width: 150px;
    height: 200px;
}